body{
font-family: Arial;
margin:0;
background:#f7f7f7;
}

header{
background:#004080;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#ddd;
padding:10px;
text-align:center;
}

nav a{
margin:10px;
text-decoration:none;
font-weight:bold;
}

.container{
max-width:800px;
margin:auto;
padding:20px;
background:white;
}

footer{
text-align:center;
padding:15px;
background:#004080;
color:white;
}
