body{
font-family: Arial;
margin:0;
background:#f4f6f8;
}

header{
background:#002b5c;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#ddd;
padding:10px;
text-align:center;
}

nav a{
margin:10px;
text-decoration:none;
font-weight:bold;
color:#002b5c;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
background:white;
}

.profile-img{
width:100%;
max-width:260px;
display:block;
margin:auto;
border-radius:10px;
}

footer{
text-align:center;
padding:15px;
background:#002b5c;
color:white;
margin-top:20px;
}
